<head>
    <link rel="stylesheet" type="text/css"
        href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">
</head>

<div fxShow="true" fxHide.lt-md fxFlex fxLayout>
    <mat-toolbar color="primary">
        <mat-toolbar-row>
            <a>
                <div mat-card-avatar class="example-header-image"></div>
            </a>
            <a class="navbar-brand" style="padding: 5px">GAMING SITE</a>

            <div fxFlex fxLayoutAlign="flex-end center">
                <span class="example-fill-remaining-space"></span>
                <a href="#" mat-button [routerLink]="['/home']" (click)="service.logoutHandler()">Log-Out</a>
            </div>
        </mat-toolbar-row>
    </mat-toolbar>
</div>

<div fxLayout="row" fxLayoutAlign="center center">
    <mat-card >

        <form [formGroup]="myForm" (ngSubmit)="onSubmit(myForm)" style="padding: 20px; text-align: center; width: 380px; height: 350px; max-width: 650px;">
            <mat-card-header>
                <h2 class="form-signin-heading">Change Password</h2>
            </mat-card-header>

            <div class="form-group">
                <mat-form-field class="example-full-width" appearance="outline">
                    <mat-label for="oldPassword">Old Password</mat-label>
                    <input type="password" matInput class="form-control" id="oldPassword"
                        formControlName="oldPassword" />
                    <mat-error *ngIf="oldPassword?.invalid && oldPassword?.touched" class="alert alert-danger">
                        <mat-error *ngIf="oldPassword?.errors?.required">Password is required.</mat-error>
                        <!-- <div *ngIf="oldPassword?.errors?.__zone_symbol__value?.invalidOldPassword">Invalid Password.</div> -->
                    </mat-error>
                </mat-form-field>
            </div>

            <div class="form-group">
                <mat-form-field class="example-full-width" appearance="outline">
                    <mat-label for="newPassword">New Password</mat-label>
                    <input type="password" matInput class="form-control" id="newPassword"
                        formControlName="newPassword" />
                    <mat-error *ngIf="newPassword?.invalid && newPassword?.touched" class="alert alert-danger">
                        <mat-error *ngIf="newPassword?.errors?.required">Enter Your New Password.</mat-error>
                    </mat-error>
                </mat-form-field>
            </div>

            <div class="form-group">
                <mat-form-field class="example-full-width" appearance="outline">
                    <mat-label for="confirm">Confirm Password</mat-label>
                    <input type="password" matInput class="form-control" id="confirm" formControlName="confirm" />
                    <mat-error *ngIf="confirm?.invalid && confirm?.touched" class="alert alert-danger">
                        <mat-error *ngIf="confirm?.errors?.required">Confirm New Password.</mat-error>
                    </mat-error>
                    <mat-error *ngIf="confirm?.valid && myForm.invalid && myForm.errors?.passowordShouldMatch"
                        class="alert alert-danger">
                        Passwords do not match.
                    </mat-error>
                </mat-form-field>
            </div>

            <button mat-stroked-button type="submit" class="btn btn-primary" [disabled]="!myForm.valid">
                Change Password
            </button>
        </form>

    </mat-card>
</div>
<footer class="container">
    <!-- <div id="btmFooter" flex>
        <p style="font-style: italic;font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;">
            EA-Sports</p>
    </div> -->
    <div class="container">
        <div class="row">
            <a>
                <div mat-card-avatar class="example-header-image"></div>
            </a>
            <div class="footer-col">
                <h4>company</h4>
                <ul>
                    <li><a href="#">About us</a></li>
                    <li><a href="#">Our Services</a></li>
                    <li><a href="#">Privacy Policy</a></li>
                </ul>
            </div>
            <div class="footer-col">
                <h4>Get Help</h4>
                <ul>
                    <li><a href="#">FAQ</a></li>
                    <li><a href="#">Details</a></li>
                </ul>
            </div>
            <div class="footer-col">
                <h4>Follow us</h4>
                <div class="social-links">
                    <a href="#"><i class="fab fa-facebook-f"></i></a>
                    <a href="#"><i class="fab fa-twitter"></i></a>
                    <a href="#"><i class="fab fa-instagram"></i></a>
                    <a href="#"><i class="fab fa-linkedin-in"></i></a>
                </div>
            </div>

        </div>
    </div>
</footer>