<head>
    <link rel="stylesheet" type="text/css"
        href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">
</head>

<div fxShow="true" fxHide.lt-md fxFlex fxLayout>
    <mat-toolbar color="primary">
        <mat-toolbar-row>
            <a>
                <div mat-card-avatar class="example-header-image"></div>
            </a>
            <a class="navbar-brand" style="padding: 5px">GAMING SITE</a>

            <div fxFlex fxLayoutAlign="flex-end center">
                <span class="example-fill-remaining-space"></span>
                <a href="#" mat-button [routerLink]="['/dashboard']">Back</a>
            </div>
        </mat-toolbar-row>
    </mat-toolbar>
</div>


<div fxLayout="row" fxLayoutAlign="center center" class="register">
    <mat-card>

        <form [formGroup]="myForm" (ngSubmit)="onSubmit(myForm)">
            <mat-card-header>
                <h2 class="form-signin-heading">Review Game Information</h2>
            </mat-card-header>
            <mat-card-content>
                <p>
                    Game Name : {{game.game_name}}
                </p>
                <p>
                    Schedule-Type : {{game.schedule_type}}
                </p>
                <p> Date : {{game.date}}</p>
                <p> Time : {{game.time}}</p>
                <p> Max number of players : {{game.no_players}}</p>
            </mat-card-content>
            <div class="form-group">
                <mat-form-field class="full-width" appearance="outline">
                    <mat-label>Enter Your Email</mat-label>
                    <input type="email" matInput placeholder="pat@example.com" class="form-control"
                        formControlName="email" />
                    <mat-error *ngIf="email?.touched && email?.invalid">
                        <mat-error *ngIf="email?.errors?.required">
                            Email is <strong>required</strong>
                        </mat-error>
                        <mat-error *ngIf="email?.errors?.pattern">
                            invalid email
                        </mat-error>
                    </mat-error>
                </mat-form-field>
            </div>
            <mat-error *ngIf="invalidQuote" class="alert alert-danger">You already have reserved a quote in this game.
            </mat-error>
            <button mat-stroked-button type="submit" class="btn btn-primary" disabled [disabled]="!myForm.valid">
                Save Quote
            </button>
        </form>

    </mat-card>
</div>
<footer class="container">
    <!-- <div id="btmFooter" flex>
        <p style="font-style: italic;font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;">
            EA-Sports</p>
    </div> -->
    <div class="container">
        <div class="row">
            <a>
                <div mat-card-avatar class="example-header-image"></div>
            </a>
            <div class="footer-col">
                <h4>company</h4>
                <ul>
                    <li><a href="#">About us</a></li>
                    <li><a href="#">Our Services</a></li>
                    <li><a href="#">Privacy Policy</a></li>
                </ul>
            </div>
            <div class="footer-col">
                <h4>Get Help</h4>
                <ul>
                    <li><a href="#">FAQ</a></li>
                    <li><a href="#">Details</a></li>
                </ul>
            </div>
            <div class="footer-col">
                <h4>Follow us</h4>
                <div class="social-links">
                    <a href="#"><i class="fab fa-facebook-f"></i></a>
                    <a href="#"><i class="fab fa-twitter"></i></a>
                    <a href="#"><i class="fab fa-instagram"></i></a>
                    <a href="#"><i class="fab fa-linkedin-in"></i></a>
                </div>
            </div>

        </div>
    </div>
</footer>