<div fxShow="true" fxHide.lt-md fxFlex fxLayout>
    <mat-toolbar color="primary">
        <mat-toolbar-row>
            <mat-icon>games</mat-icon>
            <a class="navbar-brand" style="padding: 5px">GAMING SITE</a>
            <span class="flexExpand"></span>
            <div fxFlex fxLayoutAlign="flex-end center">
                <a href="#" mat-button [routerLink]="['/home']" (click)="service.logoutHandler()">Log-Out</a>
            </div>
        </mat-toolbar-row>
    </mat-toolbar>
</div>


<div fxLayout="row" fxLayoutAlign="center center" class="register">
    <mat-card>

        <form [formGroup]="myForm" (ngSubmit)="onSubmit(myForm)">
            <mat-card-header>
                <h2 class="form-signin-heading">Review Game Information</h2>
            </mat-card-header>
            <mat-card-content>
                <p>
                    Game Name : {{game.game_name}}
                </p>
                <p>
                    Schedule-Type : {{game.schedule_type}}
                </p>
                <p> Date : {{game.date}}</p>
                <p> Time : {{game.time}}</p>
                <p> Max number of players : {{game.no_players}}</p>
            </mat-card-content>
            <div class="form-group">
                <mat-form-field class="full-width" appearance="outline">
                    <mat-label>Enter Your Email</mat-label>
                    <input type="email" matInput placeholder="pat@example.com" class="form-control"
                        formControlName="email" />
                    <mat-error *ngIf="email?.touched && email?.invalid">
                        <mat-error *ngIf="email?.errors?.required">
                            Email is <strong>required</strong>
                        </mat-error>
                        <mat-error *ngIf="email?.errors?.pattern">
                            invalid email
                        </mat-error>
                    </mat-error>
                </mat-form-field>
            </div>
            <mat-error *ngIf="invalidQuote" class="alert alert-danger">You already have reserved a quote.</mat-error>
            <button mat-stroked-button type="submit" class="btn btn-primary" disabled [disabled]="!myForm.valid">
                Save Quote
            </button>
        </form>

    </mat-card>
</div>