<head>
    <link rel="stylesheet" type="text/css"
        href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">
</head>
<mat-toolbar color="primary">
    <mat-toolbar-row>
        <a>
            <div mat-card-avatar class="example-header-image"></div>
        </a>
        <a class="navbar-brand" style="padding: 35px">GAMING SITE</a>
      
        <div>
            <span class="example-fill-remaining-space"></span>
            <a mat-button [routerLink]="['/home']"> Already have an account ? Login</a>
        </div>
    </mat-toolbar-row>
</mat-toolbar>
<div fxLayout="row" fxLayoutAlign="center center" class="register">
    <mat-card >
        <form [formGroup]="myForm" (ngSubmit)="submit(myForm)">
            <mat-card-header>
                <mat-card-title>Please Fill all to create an account</mat-card-title>
            </mat-card-header>

            <mat-error *ngIf="invalidEmail" class="alert alert-danger">Invalid username and/or password.</mat-error>

            <mat-card-content fxLayout="column">
                <div class="form-group">
                    <mat-form-field appearance="outline" class="input">
                        <mat-label>First Name</mat-label>
                        <input type="text" matInput placeholder="first Name" class="form-control"
                            formControlName="firstName" />
                        <mat-icon matSuffix>sentiment_very_satisfied</mat-icon>
                        <mat-error *ngIf="firstName?.touched && firstName?.errors?.required">first name required
                        </mat-error>
                    </mat-form-field>
                </div>
                <div class="form-group">
                    <mat-form-field appearance="outline" class="input">
                        <mat-label>Last Name</mat-label>
                        <input type="text" matInput placeholder="Last Name" class="form-control"
                            formControlName="lastName" />
                        <mat-icon matSuffix>sentiment_very_satisfied</mat-icon>
                        <mat-error *ngIf="lastName?.touched && lastName?.errors?.required">Last name required
                        </mat-error>
                    </mat-form-field>
                </div>
                <div class="form-group">
                    <mat-form-field appearance="outline" class="input">
                        <mat-label>Email</mat-label>
                        <input type="email" matInput placeholder="pat@example.com" class="form-control"
                            formControlName="email" />
                        <mat-icon matSuffix>sentiment_very_satisfied</mat-icon>
                        <mat-error *ngIf="email?.touched && email?.errors?.required">Email required</mat-error>
                    </mat-form-field>
                </div>
                <div class="form-group">
                    <mat-form-field appearance="outline" class="input">
                        <mat-label>Phone Number</mat-label>
                        <span matPrefix>+1 &nbsp;</span>
                        <input type="tel" matInput placeholder="0000000000" class="form-control"
                            formControlName="phone_number" />
                        <mat-icon matSuffix>sentiment_very_satisfied</mat-icon>
                        <mat-hint>Hint</mat-hint>
                    </mat-form-field>
                </div>

                <div formGroupName="address">
                    <p>
                        <mat-form-field appearance="outline" class="input">
                            <mat-label>Address</mat-label>
                            <textarea matInput placeholder="Ex. 100 Main St" class="form-control" id="street"
                                formControlName="street"></textarea>
                        </mat-form-field>
                    </p>

                    <table class="example-full-width" cellspacing="0">
                        <tr>
                            <td>
                                <mat-form-field appearance="outline" class="input">
                                    <mat-label>State</mat-label>
                                    <mat-select matInput class="form-control" formControlName="state">
                                        <mat-option *ngFor="let state of states" [value]="state">{{
                                            state
                                            }}</mat-option>
                                    </mat-select>
                                    <mat-error *ngIf="state?.touched && state?.errors?.required">State required
                                    </mat-error>
                                </mat-form-field>
                            </td>
                            <td>
                                <mat-form-field appearance="outline" class="input">
                                    <mat-label>City</mat-label>
                                    <mat-select matInput class="form-control" formControlName="city">
                                        <mat-option *ngFor="let city of cities[myForm.value.address.state]"
                                            [value]="city">{{
                                            city }}
                                        </mat-option>
                                    </mat-select>
                                    <mat-error *ngIf="city?.touched && city?.errors?.required">City-name required
                                    </mat-error>
                                </mat-form-field>
                            </td>
                            <td>
                                <mat-form-field class="example-full-width">
                                    <mat-label>Postal Code</mat-label>
                                    <input matInput #postalCode maxlength="5" placeholder="Ex. 94105" value="94043"
                                        class="form-control" id="zipcode" formControlName="zipcode">
                                    <mat-hint align="end">{{postalCode.value.length}} / 5</mat-hint>
                                </mat-form-field>
                            </td>
                        </tr>
                    </table>
                </div>
                <div class="form-group">
                    <mat-form-field appearance="outline" class="input">
                        <mat-label>Password</mat-label>
                        <input matInput [type]="hide ? 'password' : 'text'" class="form-control"
                            formControlName="password" required />
                        <mat-icon matSuffix (click)="hide = !hide">{{
                            hide ? "visibility_off" : "visibility"
                            }}</mat-icon>
                        <mat-error *ngIf="password?.touched && password?.invalid">
                            <mat-error *ngIf="password?.errors?.required">
                                Password is <strong>required</strong>
                            </mat-error>
                            <mat-error *ngIf="password?.touched && !password?.errors?.minLength">
                                Password must be min 3 {{password?.errors?.minLength?.requiredLength}} characetrs
                            </mat-error>
                        </mat-error>
                    </mat-form-field>
                </div>

            </mat-card-content>
            <div class="button">
                <button mat-stroked-button color="primary" disabled [disabled]="!myForm.valid">
                    Submit
                </button>
            </div>
        </form>
    </mat-card>
    <footer class="container">
        <!-- <div id="btmFooter" flex>
            <p style="font-style: italic;font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;">
                EA-Sports</p>
        </div> -->
        <div class="container">
            <div class="row">
                <a>
                    <div mat-card-avatar class="example-header-image"></div>
                </a>
                <div class="footer-col">
                    <h4>company</h4>
                    <ul>
                        <li><a href="#">About us</a></li>
                        <li><a href="#">Our Services</a></li>
                        <li><a href="#">Privacy Policy</a></li>
                    </ul>
                </div>
                <div class="footer-col">
                    <h4>Get Help</h4>
                    <ul>
                        <li><a href="#">FAQ</a></li>
                        <li><a href="#">Details</a></li>
                    </ul>
                </div>
                <div class="footer-col">
                    <h4>Follow us</h4>
                    <div class="social-links">
                        <a href="#"><i class="fab fa-facebook-f"></i></a>
                        <a href="#"><i class="fab fa-twitter"></i></a>
                        <a href="#"><i class="fab fa-instagram"></i></a>
                        <a href="#"><i class="fab fa-linkedin-in"></i></a>
                    </div>
                </div>
    
            </div>
        </div>
    </footer>
</div>