.example-card {
    max-width: 400px;
  }
  
  .example-header-image {
    background-image: url("https://st.depositphotos.com/1779253/5140/v/600/depositphotos_51405259-stock-illustration-male-avatar-profile-picture-use.jpg");
    background-size: cover;
  }
  