<div fxLayout="row" fxLayoutAlign="center center" style="padding: 20px; text-align: center; width: 400px; height: 400px; max-width: 650px;" >
    <mat-card class="example-card" style="padding: 20px; text-align: center; width: 300px; height: 300px; max-width: 650px;" >
        <div mat-card-avatar class="example-header-image"></div>
        <mat-card-header>

            <mat-card-title>{{users?.firstName}} {{users?.lastName}}</mat-card-title>
            <mat-card-subtitle>Email: {{users?.email}}</mat-card-subtitle>
        </mat-card-header>
        <mat-card-header>
            <mat-card-subtitle>Address: {{users?.address.street}}</mat-card-subtitle>
            <mat-card-subtitle>City: {{users?.address.city}}</mat-card-subtitle>
            <mat-card-subtitle>Phone: {{users?.phone_number}}</mat-card-subtitle>
        </mat-card-header>
        <mat-card-content>
        </mat-card-content>
        <mat-card-actions>
            <button mat-button class="btn1">
                <a [routerLink]="['/', 'edit_profile']" [state]="{ user:users }">
                    Edit Profile
                </a></button>
        </mat-card-actions>
    </mat-card>
</div>