.example-card {
    margin: 0 auto;
    width: 29%;
    display: inline-block;
    vertical-align: middle;
    justify-content: center;
    align-items: center;
  }
  
  .example-header-image {
    background-image: url("https://st.depositphotos.com/1779253/5140/v/600/depositphotos_51405259-stock-illustration-male-avatar-profile-picture-use.jpg");
    background-size: cover;
  }
  
  .btn1 {
    padding: 0 6px 0 6px;
    margin: 6px 8px 6px 8px;
    min-width: 88px;
    border-radius: 3px;
    font-size: 14px;
    color: ivory;
    background-color: rgb(216, 49, 99);
    text-align: center;
    text-transform: uppercase;
    text-decoration: none;
    border: none;
    outline: none;
  }