.mat-tab-header {
  background-color: #424242;
}

.footer-demo {
  height: 100%; /* Angular material adds "height:100%" to body tag by default. So, ignore this step in real-time application */
}

.demo-section {
  border: 1px solid #bbb;
}

footer {
  background-image: url("https://media.contentapi.ea.com/content/dam/eacom/en-us/common/october-ea-ring.png");
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  margin: 40px;
  border-top: 1px solid #bbb;
  text-align: center;
}

#clickFooter footer:hover {
  background-color: #ccc;
  cursor: pointer;
}

#btmFooter {
  align-self: flex-end;
  margin: 160px 0;
  text-align: center;
}

#clickFooter {
  position: relative;
}
